.form_container {
    margin-top: 40px;
    display: flex;
    margin-bottom: 40px;
}

input {
    margin-right: 40px;
}

button {
    width: 100px;
    height: 26px;
    background: khaki;
    border: none;
    border-radius: 4px;
}